<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        body {
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
        }
        .container {
            margin: 5rem;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>{{.Title}}</h1>
    {{ range .Story }}
        <p>{{.}}</p>
    {{ end }}
    <h2>What will you do?</h2>
    {{ range .Options }}
        <p><a href="{{.Arc}}">{{.Text}}</a></p>
    {{ end }}
</div>
</body>
</html>